.ripple-animte {
    animation: rippleAnimateKeyFrames 2.5s infinite forwards;
}

@keyframes rippleAnimateKeyFrames {
    0% {
        r: 6;
        fill: rgba(79, 97, 163, 1);
    }

    100% {
        r: 19;
        fill: rgba(79, 97, 163, 0);
    }
}